<%= link_to post_likes_path(post), class: "link-body-emphasis link-offset-2 link-underline link-underline-opacity-0", data: { turbo_method: :post } do %>
  <div id="like-inactive-button-for-post-<%= post.id %>">
    <i class="fas fa-heart" aria-hidden="true"></i>
    <%= post.likes.count %>
  </div>
<% end %>