<footer class="container-fluid text-center p-3 p-md-4 bg-light">
  <%= link_to image_tag("DayOutLog_背景透過(アイコン無).png", width: '150'), root_path %>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to '利用規約', terms_of_service_path, class: "nav-link link-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to 'プライバシーポリシー', privacy_path, class: "nav-link link-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to 'お問合わせ', "https://forms.office.com/r/HGrFRDSGW4", class: "nav-link link-secondary" %>
    </li>
  </ul>
</footer>