<% content_for(:title, "") %>
<div class="container pt-3">
  <div class="row">
    <div class="d-flex align-items-center">
      <p class="fw-bold">1日の行動を記録しよう</p>
      <%= image_tag "Allura - In The Park.png" %>
    </div>
  </div>
</div>